@page "/"
@page "/index.html"

<div class="mt-10 text-white text-center pb-12">
    <div>
        <div class="text-6xl font-bold">Hey! I'm <span class="grPageTitle">Turtlepaw</span></div>
        <br />
        @*Hey there, I'm Turtlepaw I like to <span class="grDescription">code</span>, <span class="grDescription">draw</span>, and <span class="grDescription">play games</span>! *@
        <div class="grPageTitle text-4xl font-bold">Bio:</div>
        <div class="font-normal text-lg font-bold">Hey there! I'm Turtlepaw, I like to <span class="grDescription">code, draw, and play games like siege!</span> I also like to create <span class="grDescription">Discord bots and NPM/Yarn packages</span> for <span class="blurpleText">Discord</span>. You can contact me through <a href="r/myDiscord">Discord</a> or <a href="r/emailMe">Email</a>! My favorite coding language is JS and TS. </div>
    </div>
    <br />
    <br />
    <div>
        <details open>

            <summary><img src="discord.png" style="width: 80px; display: inline" /> <span class="text-6xl font-bold grTitle">Discords:</span></summary>
            <br />
            <div>
                <center>
                <InviteWidget InviteURL="https://discord.gg/6ed58Kmjqu" />
                <br />
                <InviteWidget InviteURL="https://discord.gg/SJHn4bhRJa" />
                <br />
                <InviteWidget InviteURL="https://discord.gg/jH5Cg5mzyP" />
                <br />
                <InviteWidget InviteURL="https://discord.gg/2Za4fX36sa" />
                <br />
                </center>
            </div>
            <br />
        </details>
        <br /><br />
        <details open>

            <summary><img src="github.png" style="width: 80px; display: inline" /> <span class="text-6xl font-bold grTitle">Projects:</span></summary>

            <div>
                <center>
                    <Project Name="Slashcord" IconURL="https://slashr.xyz/logo.svg" URL="https://slashr.xyz/" />
                    <br />
                    <br />
                    <Project Name="Discord.jsh" IconURL="https://discordjsh.js.org/Assets/jsh_icon.svg" URL="https://discordjsh.js.org/" />
                    <br />
                    <br />
                    <Project Name="Discord Trivia" IconURL="https://cdn.discordapp.com/icons/933113625537835049/e36e3ddcc37019459f1562c5f4e8e5b2.png" URL="https://discord.gg/jH5Cg5mzyP" />
                    <br />
                    <br />
                    <Project Name="CookingDB" IconURL="https://cdn.discordapp.com/icons/945498058714656890/81b7d8bccd7290e538dbbe17a1ac9cc4.png?size=4096" URL="https://discord.gg/2Za4fX36sa" />
                    <br />
                    <br />
                    <Project Name="Gamecord.js" IconURL="https://cdn.discordapp.com/emojis/946191137645940806.webp?size=96&quality=lossless" URL="https://discord.gg/TcdsmTCzpw" />
                    <br />
                </center>
            </div>
        </details>
    </div>
</div>